<header id="header" class="header-area style-01 layout-03">
  <app-sub-header></app-sub-header>
  <app-header></app-header>
</header>
<div class="page-contain">
  <div id="main-content" class="main-content">
  <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>
<script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/jquery.nicescroll.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/biolife.framework.js"></script>
    <script src="assets/js/functions.js"></script>

